@{
    ViewData["Title"] = "Map";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Map of parkingzones</h1>
        <p class="lead text-muted">See where you can find and park bikes</p>
    </div>
</section>
<div class="bike-map">
    <iframe src="https://www.google.com/maps/d/embed?mid=1kGOTXIRtlhQmi2_yVRvmuih3VPPecBU&ehbc=2E312F&noprof=1" frameborder="0" allowfullscreen></iframe>
</div>

